#background{
    background-color: #746373;
}
header{
    position: fixed;
    background-color:#ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border: #cccccc;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

}
.name{
    background-color: #4aaaa5;
    float: left;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 40px;
    margin-top: 0;
    padding: 5px;
    margin-left: 100px;
}
.navigation{
    text-align: center;
    float: right;
    margin-right: 100px;
}

#content{
    background-color: white;
    margin: 100px;
    height: 960px;
}
#image{
    height: 300px;
    width: 300px;
    float: left;
}